$containerMarginFrac: .4;
$videoPageSidebarWidth: 200px;
$videoPageSpaceBetween: 40px;
$miniPlayerTitleHeight: 40px;
$brandingGradient: linear-gradient(to right, #1c829e 12.5%, #15af46 25%, #afbe27 37.5%, #fff422 50%, #f4a636 62.5%, #dc4727 75%, #cd2673 87.5%, #917ab6 100%);
// $brandingGradient: linear-gradient(to right, #1c829e 12.5%, #15af46 12.5%, #15af46 25%, #afbe27 25%, #afbe27 37.5%, #fff422 37.5%, #fff422 50%, #f4a636 50%, #f4a636 62.5%, #dc4727 62.5%, #dc4727 75%, #cd2673 75%, #cd2673 87.5%, #917ab6 87.5%, #917ab6 100%);